.ocultar{
    display: none;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:10%;
}
.loader img{
    width: 300px;
}
.loading_text{
    font-size: 24px;
    color: #333;
    text-align: center;
}
.carousel-caption{
    width: 100%;
    right: 0%;
    left: 0%;
    background-color: black;
    padding: 40px;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 0) 100%);
    bottom: 0px;
}
.col-4{
    margin-top: 20px;
}
.productos img{
    display: block;
    overflow: hidden;
}
#comentarios{
    height: 400px;
    overflow: scroll;
    padding: 30px;
}